@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


/* * {font-family: 'Readex Pro';} */
* {font-family: Verdana, Arial, Helvetica, sans-serif;}


a {
    text-decoration: none;
    color: blue !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: visible;}
footer {visibility: hidden;}
header {visibility: visible;}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 230px;
}

.streamlit-expanderHeader {
    font-size: 24px;
    font-weight: bold;
    color: #2E8B57; /* Customize the color */
    font-family: 'Readex Pro', sans-serif; /* Customize the font */
}

.sidebar .sidebar-content {
    width: 50px; /* initial width of the sidebar */
    transition: width 0.2s ease-in-out;
}

.sidebar-expanded .sidebar-content {
    width: 200px; /* expanded width of the sidebar */
}